// Variáveis
$cor-fundo-body: rgb(235, 235, 235);
$cor-header: grey;
$cor-card: rgb(245, 245, 245);
$cor-btn-hover: #6160601f;
$cor-sacola: rgb(228, 227, 227);
$cor-total: gray;
$cor-produto-btn: rgb(75, 170, 75);
$cor-produto-btn-remove: rgb(224, 86, 86);
$mobile: 480px;
$tablet: 768px;

// Reset básico e box-sizing global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  background-color: $cor-fundo-body;
  width: 100dvw;
  box-sizing: border-box;
  // overflow-x: hidden;
}

header {
  width: 100%;
  background-color: $cor-header;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("../assets/imagens/5193138.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 10px gray;

  @media (max-width: $tablet) {
    width: 100dvw;
    box-sizing: border-box;
    height: 250px;

  }

  .containerImagInfo {
    width: 90%;
    height: 150px;
    margin-bottom: -75px;
    display: flex;
    box-shadow: 0px 5px 10px gray;

    @media (max-width: $tablet) {
      width: 100%;
      box-sizing: border-box;
      height: auto;
      margin-bottom: -100px;
      display: flex;
      flex-direction: column;
    }


    .img {
      min-width: 150px;
      max-width: 150px;
      margin-bottom: -50px;
      z-index: 999;

      @media (max-width: $tablet) {
        display: flex;
        align-items: end;
        margin-left: 15px;
      }

      img {
        max-width: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      border-left: 1px solid #eeecec;
      background-color: #eeecec;

      @media (max-width: $tablet) {}

      .nomeEmpresa {
        height: 50%;
        width: 100%;
        padding-left: 10px;
        border-bottom: 1px solid #b4b4b483;
        display: flex;
        align-items: center;

        @media (max-width:$tablet) {
          height: 50px;

          h1 {
            width: 100%;
            margin-left: 165px;
          }
        }
      }

      .infoFuncionamento {
        height: 50%;
        width: 100%;
        padding: 10px;
        display: flex;

        @media (max-width: $tablet) {
          height: 50px;
          padding: 0px;
        }

        button {
          background-color: transparent;
          border: none;
          padding: 10px 20px;
          cursor: pointer;

          @media (max-width: $tablet) {
            padding: 0px 20px;

          }

          &:hover {
            background-color: $cor-btn-hover;
          }
        }
      }
    }
  }
}

.categorias {
  width: 100%;
  height: 30px;
  background-color: #EE9E1D;
  margin: 100px auto 15px;
  position: sticky;
  top: 5px;
  box-shadow: 1px 3px 10px gray;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet) {
    height: 50px;
    padding: 0px;

  }


  button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: $cor-btn-hover;
    }
  }
}

section {
  min-height: 380px;
  display: flex;
  width: 100dvw;
  justify-content: center;
  padding: 10px;
  gap: 15px;



  .produtos {
    width: calc(100% - 390px);

    @media (max-width: $tablet) {
      width: 100dvw;
    }

    h2 {
      width: 98%;
      box-shadow: 0px 3px 10px gray;
      margin: 0 0 10px 0;
      padding: 5px;
      border-radius: 5px;
    }

    .itensProdutos {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 47%));
      gap: 15px;
      margin-bottom: 20px;

      @media (max-width:$tablet) {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(350px, 80%));
        justify-content: center;

      }

      @media (max-width:$mobile) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 80%));

      }

      .produto {
        background-color: $cor-card;
        height: 180px;
        border-radius: 15px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px 3px 10px gray;
        width: 100%;
        transition: box-shadow 0.2s;

        &:hover {
          box-shadow: 0px 3px 15px rgb(102, 102, 102);
        }

        .descriImagem {
          display: flex;
          height: 70%;

          .tituloDescri {
            width: 50%;

            h3 {
              margin: 0;
            }
          }

          .imagem {
            width: 50%;
            border-radius: 15px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 10px;
            }
          }
        }

        p {
          margin: 5px 0;
        }

        button {
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          border: none;
          background-color: $cor-produto-btn;
          color: white;
          font-weight: 100;
          cursor: pointer;
        }
      }
    }
  }

  .sacola {
    width: 350px;
    height: 500px;
    background-color: $cor-sacola;
    position: sticky;
    top: 40px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px gray;
    text-align: center;

    @media (max-width: $tablet) {
      display: none;
      position: fixed;
      top: 10px;
      right: 5px;
      height: 95%;
      width: 80%;
      display: none;
    }

    h3 {
      margin: 0;
    }

    .listProd {
      width: 100%;
      height: 370px;
      background-color: $cor-card;
      border-radius: 10px;
      margin: 0 auto;
      padding: 5px;
      overflow: hidden;

      .item {
        width: 100%;
        gap: 8px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px dashed gray;
        margin-top: 5px;

        p {
          margin: 0 4px;
        }

        .quantItens {
          display: flex;
          justify-content: center;

          p {
            border: 1px solid gray;
            border-radius: 3px;
            height: 20px;
            padding: 0 3px;
          }

          margin-bottom: 5px;
        }

        button {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: none;
          background-color: $cor-produto-btn;
          color: white;
          font-size: large;
          cursor: pointer;
        }

        .remove {
          background-color: $cor-produto-btn-remove;
        }
      }
    }

    .totalAmount {
      gap: 5px;
      display: grid;
      margin-top: 10px;
      padding: 5px;

      p {
        margin: 0;
        justify-self: start;
      }

      .checkout {
        button {
          display: grid;
          justify-self: center;
          width: 80%;
          padding: 5px;
          border-radius: 5px;
          border: none;
          background-color: $cor-produto-btn;
        }
      }
    }
  }


}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(102, 104, 102, 0.322);
  z-index: 999;
  display: none;

  .cep {
    width: 400px;
    padding: 60px;
    background-color: #eeecec;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.btnCart {
  display: none;

  @media (max-width:$tablet) {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

footer {
  min-height: 150px;
  background-color: rgb(92, 91, 91);
  width: 100%;
}