body{
    padding: 0;
    margin: 0;
    background-color: rgb(223, 223, 223);
    max-width: 100%;
    min-height: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: grey;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url("imagens/5193138.jpg");
    background-size: cover;
    background-position: center;

    .containerImagInfo{
        width: 80%;
        height: 150px;
        background-color: rgb(97, 90, 90);
        margin-bottom: -75px ;
        display: flex;
        box-shadow: 0px 5px 10px gray;


        .img{
            min-height: 150px;
            min-width: 150px;
            max-width: 150px;
            background-color: rgb(75, 74, 74);
            img{
                max-width: 100%;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 100%;
            border-left: 1px solid #eeecec;
            background-color: #eeecec;



            .nomeEmpresa{
                height: 50%;
                width: 100%;
                padding-left: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #b4b4b483 ;

            }
            .infoFuncionamento{
                height: 50%;
                width: 100%;
                padding: 10px 10px ;
                box-sizing: border-box;
                display: flex;

                button{
                    background-color: #ad761f00;
                    border: none;
                    padding: 10px 20px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #ce8e28be;

                }

            }
        }
    }

}


.categorias{
    width: 90%;
    height: 30px;
    background-color: #EE9E1D;
    margin: 100px auto 15px auto;
    position: sticky;
    top:5px;
    box-shadow: 1px 3px 10px gray;
    display: flex;
justify-content: center;
    button{
        background-color: #00000000;
        border: none;
        height: 100%;        
        padding: 0 20px;  
        box-sizing: border-box;  
        cursor: pointer;
    }
    button:hover{
        background-color: #ce8e28be;

    }

}

section{
    min-height: 380px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 15px;

    .produtos{
        width: calc(100% - 390px);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 15px;


        .produto{
            background-color: rgb(228, 227, 227);
            height: 200px;
            border-radius: 15px;
            padding: 8px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: 0px 3px 10px gray;
            


            .imagem{
                height: 70%;
                width: 100%;
                background-color: gray;
                border-radius: 15px;
            }

            p{
                margin: 5px 0;
            }

            button{
                width: 100%;
                padding: 5px;
                border-radius: 10px;
                border: none;
                background-color: rgb(75, 170, 75);
                color: white;
                font-weight: 100;
                cursor: pointer;
            }

        }
        .produto:hover{
            box-shadow: 0px 3px 15px rgb(102, 102, 102);
           
        }

    }
    .sacola{
        width: 350px;
        height: 500px;
        background-color: rgb(235, 235, 235);
        position: sticky;
        top: 40px;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .listProd{
            width: 100%;
            height: 370px;
            background-color: rgb(245, 245, 245);
            border-radius: 10px;
            margin: 0 auto;
        }

        .total{
            background-color: gray;
            gap: 5px;
            display: grid;
            margin-top: 10px;
            padding: 5px;
            p{
                margin: 0px;
            }

            h2{
                margin: 0px;
            }

            
            .checkout{

                button{
                    display: grid;
                    justify-self: center;
                    width: 80%;
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                }
                

            }
        }

    }
}

footer{
    min-height: 150px;
    background-color: rgb(92, 91, 91);
    width: 100%;

}